# env
.env
.env.local
.env.production
*.env

# node
node_modules/
.next/
out/
dist/

# python
__pycache__/
*.pyc
.venv/
venv/

# docker
*.log

# IDE
.vscode/
.idea/

# terraform
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl

# OS
.DS_Store
